# Configuration file

~CONFIG_VERSION: 1

##########################################################################################################
# common
#--------------------------------------------------------------------------------------------------------#
# Settings applied to all facades.
#
# By default full blocks with no tile entity and a model do not need whitelisting.
# This will only be read once during client startup.
##########################################################################################################

common {
    # Unsupported: Allows whitelisting TileEntity as facades. Could work, have render issues, or corrupt your world. USE AT YOUR OWN RISK.
    B:allowTileEntityFacades=false
}


##########################################################################################################
# facades
#--------------------------------------------------------------------------------------------------------#
# A way to explicitly handle certain blocks as facades.
#
# Blocks can be added by their resource location under the following rules.
#  - One category per domain like minecraft or appliedenergistics2
#  - One key per id. E.g. glass in case of minecraft:glass
#  - An integer value ranging from 0 to 16 representing the metadata 0-15 and 16 as wildcard for all - Multiple entries for the same id but different metadata are possible when needed
##########################################################################################################

facades {

    minecraft {
        I:glass=16
        I:stained_glass=16
    }

    appliedenergistics2 {
        I:quartz_glass=16
        I:quartz_vibrant_glass=16
    }

    advanced_solar_panels {
        I:advanced_solar_panels:machines
    }

    agricraft {
        I:crop
        I:grate
        I:peripheral
        I:seed_analyzer
        I:sprinkler
        I:water_channel_full
        I:water_channel_normal
        I:water_channel_valve
        I:water_pad
        I:water_tank
    }

    appliedenergistics2 {
        I:appliedenergistics2:cable_bus
        I:appliedenergistics2:cell_workbench
        I:appliedenergistics2:charger
        I:appliedenergistics2:chest
        I:appliedenergistics2:chiseled_quartz_double_slab
        I:appliedenergistics2:chiseled_quartz_slab
        I:appliedenergistics2:chiseled_quartz_stairs
        I:appliedenergistics2:condenser
        I:appliedenergistics2:controller
        I:appliedenergistics2:crafting_accelerator
        I:appliedenergistics2:crafting_monitor
        I:appliedenergistics2:crafting_storage_16k
        I:appliedenergistics2:crafting_storage_1k
        I:appliedenergistics2:crafting_storage_4k
        I:appliedenergistics2:crafting_storage_64k
        I:appliedenergistics2:crafting_unit
        I:appliedenergistics2:crank
        I:appliedenergistics2:creative_energy_cell
        I:appliedenergistics2:dense_energy_cell
        I:appliedenergistics2:drive
        I:appliedenergistics2:energy_acceptor
        I:appliedenergistics2:energy_cell
        I:appliedenergistics2:fluid_interfac
        I:appliedenergistics2:fluix_double_slab
        I:appliedenergistics2:fluix_slab
        I:appliedenergistics2:fluix_stairs
        I:appliedenergistics2:grindstone
        I:appliedenergistics2:inscriber
        I:appliedenergistics2:interface
        I:appliedenergistics2:io_port
        I:appliedenergistics2:light_detector
        I:appliedenergistics2:matrix_frame
        I:appliedenergistics2:molecular_assembler
        I:appliedenergistics2:paint
        I:appliedenergistics2:quantum_link
        I:appliedenergistics2:quantum_ring
        I:appliedenergistics2:quartz_double_slab
        I:appliedenergistics2:quartz_fixture
        I:appliedenergistics2:quartz_glass
        I:appliedenergistics2:quartz_growth_accelerator
        I:appliedenergistics2:quartz_pillar_double_slab
        I:appliedenergistics2:quartz_pillar_slab
        I:appliedenergistics2:quartz_pillar_stairs
        I:appliedenergistics2:quartz_slab
        I:appliedenergistics2:quartz_stairs
        I:appliedenergistics2:quartz_vibrant_glass
        I:appliedenergistics2:security_station
        I:appliedenergistics2:sky_compass
        I:appliedenergistics2:sky_stone_brick_double_slab
        I:appliedenergistics2:sky_stone_brick_slab
        I:appliedenergistics2:sky_stone_brick_stairs
        I:appliedenergistics2:sky_stone_chest
        I:appliedenergistics2:sky_stone_double_slab
        I:appliedenergistics2:sky_stone_slab
        I:appliedenergistics2:sky_stone_small_brick_double_slab
        I:appliedenergistics2:sky_stone_small_brick_slab
        I:appliedenergistics2:sky_stone_small_brick_stairs
        I:appliedenergistics2:sky_stone_stairs
        I:appliedenergistics2:smooth_sky_stone_chest
        I:appliedenergistics2:smooth_sky_stone_double_slab
        I:appliedenergistics2:smooth_sky_stone_slab
        I:appliedenergistics2:smooth_sky_stone_stairs
        I:appliedenergistics2:spatial_io_port
        I:appliedenergistics2:spatial_pylon
        I:appliedenergistics2:tiny_tnt
        I:appliedenergistics2:vibration_chamber
        I:appliedenergistics2:wireless_access_point
    }

}
